.sidebar-nav {
  height: 100vh;
  padding: 1em;

  .navHeader {
    font-size: 2rem;
    justify-content: center;
  
    h1 {
      margin: 0;
      padding: 0;
    }
    svg {
      font-size: 2rem;
      margin-right: 5px;
    }
  }
}
