.sidebar-nav {
    height: 100vh;
    padding: 1em;
}

.navHeader {
    font-size: 2rem;
    justify-content: center;

    h1 {
        margin: 0;
        padding: 0;
    }
    svg {
        font-size: 2rem;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 1223px) {
    .sidebar-nav {
        height: fit-content;
        padding: 1rem;
        width: 100%;
    }

    .semi-navigation-horizontal .semi-navigation-list .semi-navigation-item:not(:last-of-type) {
        margin-right: 0;
    }

    .semi-navigation-inner {
        justify-content: center;
    }
    .semi-navigation-header-list-outer {
        justify-content: center;
        align-items: center;

        .semi-navigation-list {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            column-gap: 1rem;

            .semi-navigation-item {
                height: fit-content;
                display: flex;
                width: 80px;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &-icon {
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}
