.navBar {
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: transparent;
    padding: 1rem;
    border: none;
    margin-bottom: 2rem;
    box-shadow: 0 4px 3px -2px rgba(128, 128, 128, 0.473);
}
