.search {
    width: 100%;
    border-radius: 5px;
    z-index: 1;
    background-color: #eee;

    &:focus-within {
        background-color: white;
        &:hover {
            background-color: #ffffffc9;
        }
    }

    &:not(:focus-within) + .overlay + div:not(:hover) {
        display: none;
    }
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.26);
}

.search:focus-within + .overlay {
    display: block;
}

@media only screen and (max-width: 786px) {
    .search {
        --size: 40px;
        width: var(--size);
        height: var(--size);
        border-radius: 50px;
        overflow: hidden;
        position: relative;
        transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
        padding: 3px;
        display: flex;
        justify-content: space-between;

        input {
            border: 0;
            padding: 0.25em 1em;
            flex-grow: 1;
            outline: 0;
            z-index: 2;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            background: transparent;
            opacity: 0;
            cursor: pointer;
        }

        &:focus-within {
            width: 100%;

            input {
                opacity: 1;
                z-index: initial;
                cursor: initial;
                width: calc(100% - var(--size));
            }
        }
    }
}
