.search {
    z-index: 1000;

    &:focus-within {
        background-color: white;
        &:hover {
            background-color: #ffffffc9;
        }
    }
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.26);
}

.search:focus-within + .overlay {
    display: block;
}

.search:not(:focus-within) + .overlay + div {
    display: none;
}
